/*STYLING BODY
*This will change style in body elements
*/
body{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/*STYLING h1 elements
*Specifies the h1 elements style
*/

.main-titre{
    color:dodgerblue;  
    margin-top: 80px;
    margin-bottom: 50px;
}

/*change icon width*/
.icons{
width: 30px;
padding-left: 5px;
padding-right: 5px;
}

.logo{
    width: 200px;
    color:white;
}

/*search carrousel*/

/*search box css start here*/
.search-sec{
    padding: 2rem;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: dodgerblue;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
@media (min-width: 992px){
    .search-sec{
        position: relative;
        top: px;
        background:dodgerblue;
    }
}

@media (max-width: 992px){
    .search-sec{
        background:dodgerblue;
    }
}